<div class="container c-center">
  <ngx-datatable #myTable class="material expandable w-4/6 h-5/6" [columnMode]="ColumnMode.force" [headerHeight]="50"
    [footerHeight]="50" [rowHeight]="50" [scrollbarV]="true" rowHeight="auto" [rows]="mails" [limit]="10">
    <!-- Row Detail Template -->
    <ngx-datatable-row-detail [rowHeight]="100" #myDetailRow (toggle)="onDetailToggle($event)">
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
        <div style="padding-left:35px;">
          <div><strong>mail</strong></div>
          <div>{{ row.toName }}
          </div>
          <div>
            {{ row.subject}}
          </div>
          <div>
            {{row.body}}
          </div>
        </div>
      </ng-template>
    </ngx-datatable-row-detail>
    <!-- Column Templates -->

    <ngx-datatable-column name="toName">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <strong>{{ value |textHide }}</strong>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="subject">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <strong>{{ value|textHide }}</strong>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="body">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <strong>{{ value |textHide}}</strong>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="action" [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
      [canAutoResize]="false">
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
        <!-- <a -->
        <!-- href="javascript:void(0)" -->
        <!-- [class.datatable-icon-right]="!expanded" -->
        <!-- [class.datatable-icon-down]="expanded" -->
        <!-- title="Expand/Collapse Row" -->
        <!-- (click)="toggleExpandRow(row)" -->
        <!-- > -->
        <!-- </a> -->

        <div (click)="toggleExpandRow(row)"> click</div>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
